@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

body {
 font-family: "Outfit", sans-serif;
 font-optical-sizing: auto;
 font-style: normal;
}

.btn {
  @apply inline-block px-4 py-2 rounded text-sm md:text-base font-medium uppercase tracking-widest transition-colors duration-200;
}

.btn-primary {
  @apply bg-sky-800 text-white hover:bg-sky-900;
}

.btn-secondary {
  @apply bg-green-600 text-white hover:bg-green-700;
}

.btn-outline {
  @apply border border-sky-900 text-white hover:bg-sky-900;
}