@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn {
  @apply inline-block px-4 py-2 rounded text-sm font-medium transition-colors duration-200;
}

.btn-primary {
  @apply bg-blue-600 text-white hover:bg-blue-700;
}

.btn-secondary {
  @apply bg-green-600 text-white hover:bg-green-700;
}

.btn-outline {
  @apply border border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white;
}